 <div class="container-fluid">  
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th class="h4">Id</th>
            <th class="h4">Nombre</th>
            <th class="h4">Temporadas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of series" (click)="onSelected(c)" style="cursor: pointer;">
            <td><dd>{{ c.id }}</dd></td>
            <td><dd>{{ c.name }}</dd></td>
            <td><dd>{{ c.seasons }}</dd></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="fw-bold text-end">Promedio de temporadas</td>
            <td>{{ getAverageSeasons() | number:'1.1-2' }}</td>
          </tr>
        </tfoot>
        
      </table>
    </div>
  


    
    <div *ngIf="selectedSerie" class="mt-4">
      <app-serie-detail [serieDetail]="selectedSerie"></app-serie-detail>
    </div>
  
  </div>
