<div class="container-fluid">
    <p class="h3 p-3">{{ serieDetail?.name }}</p>
    <div class="row">
      <div class="col-2">
        <div class="thumb">
          <img
            class="img-fluid"
            src="{{ serieDetail?.url }}"
            alt="{{ serieDetail?.name }}"
          />
        </div>
      </div>
      <div class="col">
        <dl>
          <dt></dt>
        
          <dt>Seasons </dt>
          <dd>{{ serieDetail?.seasons }}</dd>
  
          <hr />
  
          <dt>Disponibilidad</dt>
          <dd>{{ serieDetail?.studio }}</dd>
  
          <hr />

  
          <dt class="bold">Descripcion</dt>
          <dd>{{ serieDetail?.description }}</dd>
        </dl>
      </div>
    </div>
  </div>